.body {
    font-family: "Arial", sans-serif;
    overflow-x: hidden;
}

.page {
    width:210mm;
    margin-left:auto;
    margin-right:auto;
    margin-top: 6vh;
    margin-bottom: 5vh;
}

.title-style {
    text-align: center;
    font-size: 40px;
}

.icons {
    justify-content: center;
    font-size: 16px;
}

.text {
    font-size: 16px;
    text-align: justify;
}

table {
  font-family: "Arial", sans-serif;
  border-collapse: collapse;
  width: 70%;
}

caption {
  text-align: center;
  color: black;
  caption-side: top;
}

td, th {
  border: 1px solid #f1f1f1;
  text-align: left;
  padding: 2px;
}

tr:nth-child(odd) {
  background-color: #f1f1f1;
}

.table-center {
  margin-left: auto;
  margin-right: auto;
}

#container-photobanner {
  height:300px;
  width:100%;
  background: #9b2226;
  position:relative;
  overflow:hidden;
}

.photobanner {
  position:absolute;
  top:20px;
  overflow:hidden;
  white-space: nowrap;
  animation: bannermove 30s linear infinite;
}

.photobanner img {
  margin: 5px
}

@keyframes bannermove {
  0% {transform: translate(-0%);}
  100% {transform: translate(-50%);}
}

.word {
  font-family: "Arial", sans-serif;
  color: black;
  background-color: #f1f1f1;
  padding: 4px;
  font-size: 90%;
  border-radius: 5px;
}

.fig-style {
  justify-content: center;
}

.fig-caption {
  text-align: center; 
  font-size: 16px;
}

pre {
    width: 100%;
    background-color: #f1f1f1;
}

h6 {
    color: black;
}
