table {
  class="center"
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 70%;
}

caption {
  text-align: center;
  color: black;
  caption-side: top;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 5px;
}

tr:nth-child(odd) {
  background-color: #dddddd;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

#container {
  height:300px;
  width:800%
  position:absolute;
  overflow:hidden;
}

.photobanner {
  position:absolute;
  top:25px;
  left:0px;
  overflow:hidden;
  white-space: nowrap;
  animation: bannermove 30s linear infinite;
}

.photobanner img {
  margin: 5px
}

@keyframes bannermove {
  0% {transform: translate(-0%);}
  100% {transform: translate(-50%);}
}


